/*------index------*/

.Missguide img:nth-child(4){
    animation: Rhand 0.8s infinite;animation-direction:alternate;
    transform-origin:30% 10%;
}

@keyframes Rhand{
    from{transform:rotate(15deg);}
    to{transform:rotate(-5deg);}
}

.Missguide img:last-child{
    animation: Lhand 0.8s infinite;animation-direction:alternate;
    transform-origin:0% 70%;
}

@keyframes Lhand{
    from{transform:rotate(0deg);}
    to{transform:rotate(10deg);}
}

.cha_area span>img:hover{
    animation: character 0.5s infinite;
    animation-direction:alternate;transform-origin:50% 100%;
}

@keyframes character{
    from{transform:rotate(5deg);}
    to{transform:rotate(-3deg);}
}

.top_area .cha_section span{
    animation:dialog 0.8s infinite;animation-direction:alternate;
    
}

@keyframes dialog{
    form{top:50px;}
    to{top:65px;}
}
