*{margin: 0;padding: 0;text-decoration: none;box-sizing:border-box;}

body{
	font-family: 'Arial','微軟正黑體';
	color: #333;overflow-y:visible;
}
#container_text{
    padding-top:30px;
    width:1000px;margin:auto;line-height:30px;
}

h1{display: block; margin-bottom:20px;}

p{margin:10px 0;}

.solution{color:red;}

.info{display:block;margin-bottom:30px;}
